p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--main-font);
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}
