:root {
  --header-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-font: "open sans", sans-serif;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--main-font);
}

a {
  color: currentColor;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* -------------------HEADER--------------- */

.header {
  background-color: gray;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-btn-color);
}

/* -------------------HERO--------------- */

.hero-content {
  background-color: #303030;
  padding: 270px 100px 200px 100px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  background-color: #303030;
  margin-bottom: var(--typical-margin);
}

.hero-after-title {
  color: #9da4bd;
  max-width: 400px;
}

/* -------------------ABOUT--------------- */

.about {
  padding-top: 163px;
  padding-bottom: 89px;
}

.about-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.about-after-title {
  color: #555555;
  margin-bottom: var(--typical-margin);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 39px;
}

.about-btn {
  color: #303030;
}

/* -------------------PRICES--------------- */

.prices {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 40px;
}

.prices-item {
  margin-bottom: var(--typical-margin);
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

/* -------------------BENEFITS--------------- */

.benefits {
  padding-top: 143px;
  padding-bottom: 137px;
}

.benefits-item {
  width: 170px;
  height: 130px;
  border: 1px solid #000000;
  padding: 20px 24px;
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  display: block;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.benefits-after-title {
  color: #555555;
}

/* -------------------MASTERS--------------- */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.masters-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* -------------------GALLERY--------------- */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}

/* -------------------ONLINE--------------- */
.online {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.online-title {
  color: var(--main-title-color);
}

/* -------------------CONTACTS--------------- */

.contacts {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.contacts-title {
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}

.contacts-item {
  margin-bottom: var(--typical-margin);
}

.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-pre-title {
  color: #ffffff;
  margin-bottom: var(--typical-margin);
}

.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -------------------FOOTER--------------- */

.footer {
  padding-top: 56px;
  padding-bottom: 55px;
}

.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
