.text {
  color: purple;
}

.list {
  list-style: none;
}

body {
  font-family: "open sans", sans-serif;
}

* {
  color: brown;
  color: #ffffff;
}

p {
  color: green;
}

/* Селектори
Універсальний
Тег
ID
Клас
Атрибут
Нашадка
Дочірній
*/

.header-list.list {
  background-color: tomato;
}

/* .header a {
  color: blue;
} */

.header > a {
  color: blue;
}

button[type="reset"] {
}
