.benefits {
  padding-top: 143px;
  padding-bottom: 137px;
}

.benefits-container {
  display: flex;
}

.benefits-blocks {
  width: calc(50% - 15px);
  display: flex;
  justify-content: center;
}

.benefits-content {
  width: calc(50% - 15px);
  padding-top: 9px;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.benefits-item {
  width: 170px;
  height: 130px;
  border: 1px solid #000000;
  padding: 20px 24px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  display: block;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-title {
  color: #303030;
  margin-bottom: var(--typical-margin);
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margin);
}

.benefits-after-title {
  color: #555555;
}
