.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  > .container {
    @extend %align-list;
  }
}

.nav {
  @extend %align-list;
}

.menu {
  display: none;
}

.connect {
  display: none;
}

.nav__logo {
  margin-right: 70px;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.header__connect {
  margin-left: auto;
}

.menu__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
  transition: color 300ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connect__btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}

.menu-open-btn {
  display: block;
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
  }
}

.close-open-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);

  text-align: center;
  letter-spacing: 0.1em;

  color: #303030;
}

.mob-menu__connect {
  margin-bottom: 64px;
}
.mob-menu__tel {
  font-weight: 600;
  line-height: calc(25 / 18);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
.mob-menu__btn {
  display: block;
  margin-top: 24px;
}

.mob-menu__soc {
  padding-left: 100px;
  position: relative;
}

.mob-menu__soc::before {
  content: '';
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #303030;
  left: 0;
  top: 10px;
}
.mob-menu__soc-item:not(:last-child) {
  margin-bottom: 24px;
}
.mob-menu__soc-link {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(19 / 14);
  letter-spacing: 0.2em;

  color: #303030;
}
