.hero .container {
  display: flex;
}

.hero-soc {
  width: 90px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 33px;
  padding-left: 22px;
}
.hero-list {
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  @extend %align-list;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 40px;
  }
}

.hero-item + .hero-item {
  margin-left: 40px;
}

.hero-content {
  background-color: #303030;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../img/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 270px 100px 200px 100px;
  flex-grow: 1;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margin);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margin);
  display: flex;
  align-items: baseline;
  &::before {
    content: '';
    width: 40px;
    height: 40px;
    background-color: violet;
    margin-right: 10px;
  }

  &::after {
    content: '!';
    font-size: 90px;
    color: chocolate;
  }
}

.hero-after-title {
  color: #9da4bd;
  max-width: 400px;
}
