:root {
  --header-color: #ffffff;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-font: 'open sans', sans-serif;
  --accent-color: #ff6c00;
  --typical-margin: 20px;
}
